body {
    background-color: var(--Light-grayish-cyan);
}

header {
    display:flex;
    justify-content: center;
    margin: 3rem;
}

main {
    background-color: var(--White);
    border-radius: 1.2rem 1.2rem 0 0;
    padding-bottom: 0.5rem;
}

