body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    background-color: var(--Light-grayish-cyan);
}

header {
    margin-bottom: 2rem;
}

main {
    background-color: var(--White);
    padding: 2rem;
    padding-inline: 6.45rem;
    border-radius: 2rem 2rem 0 0;
}


