.section-buttons {
    display: flex;
    justify-content: center;
}

.tip h2 {
    font-size: 1rem;
    margin-left: 1.8rem;
    margin-bottom: 0.5rem;
    padding-top: 1.8rem;
    color: var(--Grayish-cyan);
}

button {
    width: 9.5rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: var(--Very-dark-cyan);
    border-radius: 0.5rem;
    border: none;
    color: var(--White);
}

.buttons {
    display: flex;
    flex-direction: column;
}

.first-button {
    margin-bottom: 1rem;
}

.first-button {
    display: flex;
    justify-content: space-around;
}

.second-button {
    margin-bottom: 1rem;
}

.second-button {
    display: flex;
    justify-content: space-around;
}

#button--1 {
    margin-right: 0.5rem;
}

#button--2 {
    margin-left: 0.5rem;
}

#button--3 {
    margin-right: 0.5rem;
}

#button--4 {
    margin-left: 0.5rem;
}

#button--5 {
    margin-right: 0.5rem;
}

.third-button input {
    width: 9.5rem;
    height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    background-color: var(--Very-light-grayish-cyan);
    border-radius: 0.5rem;
}

.third-button input:focus {
    outline: none;
    border: var(--Very-dark-cyan) 2px solid;
}

.buttons button:focus {
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}

.second-input h2 {
    font-size: 1rem;
    margin-left: 1.8rem;
    margin-bottom: 0.5rem;
    padding-top: 1.8rem;
    color: var(--Grayish-cyan);
}

.second-input input {
    margin-inline: 2.7rem;
    margin-left: -1.5rem;
    padding-right: 0.5rem;
    width: 20rem;
    height: 3rem;
    text-align: right;
    font-size: 1.5rem;
    background-color: var(--Very-light-grayish-cyan);
    border: none;
    color: var(--Very-dark-cyan);
    border-radius: 0.5rem;
}

.second-input input:focus {
    outline: none;
    border: var(--Very-dark-cyan) 2px solid;
}

.second-input .imagem-input-2 {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.second-input .imagem-input-2 img {
    z-index: 9;
}