.second-section {
    background-color: var(--Very-dark-cyan);
    margin: 2rem;
    padding-block: 1rem;
    border-radius: 1rem;
}

.res-1 {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 0.5rem;
}

.res-2 {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-top: 0.5rem;
}

.res p {
    color: var(--White);
}

#text-2{
    font-size: 0.9rem;
    opacity: 50%;
}

.res h3 {
    color: var(--Strong-cyan);
    font-size: 2rem;
}

.second-section button {
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
    text-transform: uppercase;
    font-size: 1.2rem;
    width: 16rem;
    margin-inline: 1.6rem;
}