.first-input h2 {
    font-size: 1rem;
    margin-left: 1.8rem;
    margin-bottom: 0.5rem;
    padding-top: 1.8rem;
    color: var(--Grayish-cyan);
}

.first-input input {
    margin-inline: 2.7rem;
    margin-left: -1.5rem;
    padding-right: 0.5rem;
    width: 20rem;
    height: 3rem;
    text-align: right;
    font-size: 1.5rem;
    background-color: var(--Very-light-grayish-cyan);
    border: none;
    color: var(--Very-dark-cyan);
    border-radius: 0.5rem;
}

.first-input input:focus {
    outline: none;
    border: var(--Very-dark-cyan) 2px solid;
}

.imagem-input {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.imagem-input img {
    z-index: 9;
}